*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("assets/federico-beccari-eGJg5iRGlg8-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    width: 30%;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
}
.title{
    color: aliceblue;
    font-size: 2rem;
    margin: -1.8rem;
    z-index: 10;
    font-family: 'Koulen', cursive;
    font-family: 'Lato', sans-serif;
}
@media only screen and (max-width: 600px) {
   
    .title{
        font-size: 1.7rem;
    }
  }