@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: 'Koulen', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

body{
  min-height: 100vh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flrounded
{
  border-radius: 100%;
}

.scope span{
  font-family: 'Smooch', cursive;
}
